####################################################
# Maven
####################################################

target/
!**/src/main/**/target/
!**/src/test/**/target/

####################################################
# Maven Wrapper
####################################################

# Se recomienda subir el wrapper completo.
# NO ignores la carpeta .mvn
# NO ignores mvnw ni mvnw.cmd

####################################################
# IntelliJ IDEA
####################################################

.idea/
*.iml
*.ipr
*.iws

####################################################
# VS Code
####################################################

.vscode/

####################################################
# Eclipse / STS
####################################################

.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

####################################################
# NetBeans
####################################################

nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
dist/
build/

####################################################
# Logs
####################################################

*.log

####################################################
# Archivos temporales
####################################################

*.tmp
*.bak
*.swp
*.swo

####################################################
# Variables de entorno
####################################################

.env
.env.*

####################################################
# Sistema Operativo
####################################################

.DS_Store
Thumbs.db

####################################################
# Archivos opcionales
####################################################

HELP.md
